@model ContactUsModel

@{
    ViewData["Title"] = "Contact Us";
}

<div class="h-100 p-5 text-white bg-dark alert-dark rounded-3">
    <h1 class="display-5 fw-bold text-center">Contact Us</h1>

    <form asp-action="ContactUs" method="post">
        <div class="form-group">
            <input asp-for="name" class="form-control" placeholder="Name"/>
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input asp-for="toEmail" class="form-control" placeholder="Email"/>
            <span asp-validation-for="toEmail" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <input asp-for="subject" class="form-control" placeholder="Subject"/>
            <span asp-validation-for="subject" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <textarea asp-for="content" class="form-control" rows="10" placeholder="How may we provide you with excellent service today?" ></textarea>
            <span asp-validation-for="content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
