@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 p-5 text-white bg-dark alert-dark rounded-3">
    <h1 class="display-5 fw-bold text-center">Welcome</h1>
    <p>Say something that has to do with what this site is about.</p>
</div>

 
